.card-header {
    font-size: 20pt;
}

.search-card {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.content-card {
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.bg-primary {
    height: 15rem;
    width: 9.5rem;
    margin: 1rem;
}

#forecast-text {
    font-size: 20pt;
    margin-bottom: 0px;
}

.fc-date {
    font-size: 15pt;
}

.navbar-brand {
    font-size: 30pt;
}

#main-icon {
    margin-left: 15px;
    margin-right: 10px;
}

.forecast-cards {
    margin: 0px;
}