.card-header {
    font-size: 20pt;
}

.search-card {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.content-card {
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
}